.addressInput {
    color: black;
    background-color: white;
    height: 2rem;
    width: 25rem;
    padding: 0.5rem;
}

.amountInput {
    color: black;
    background-color: white;
    height: 2rem;
    width: 25rem;
    padding: 0.5rem;
    -moz-appearance: textfield;
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberWithGeneratorInput {
    color: black;
    background-color: white;
    height: 2rem;
    width: 10rem;
    padding: 0.5rem;
    -moz-appearance: textfield;
}

.numberWithGeneratorInput::-webkit-outer-spin-button,
.numberWithGeneratorInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.numberWithGeneratorButton {
    color: white;
    background-color: #50aad4;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    height: 2rem;
    text-align: center;
}